@model CST.ViewModels.EBook.InputDataVM;
 
@{
    ViewData["Title"] = "Tambah E-Book";
} 
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <form autocomplete="off" method="post" enctype="multipart/form-data">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Tambah Data E-Book</h5>
                                       
                                        <button class="btn btn-sm btn-info shadow-2" data-toggle="modal" data-target="#infoModal"><span>Panduan <i class="far fa-question-circle"></i></span></button>
                                        <button class="btn btn-sm btn-success fa-pull-right" onclick="location.href='@Url.Action("GabungFile", "EBook")'" title="Gabung PDF"> Gabung PDF</button>   
                                    </div>
                                     
                                    <div class="card-block">

                                      <div class="form-row">
                                       <div class="col-4">
                                          <h5>Judul</h5>
                                        </div> 
                                         <div class="col-4">
                                          <h5>Kelompok</h5>
                                        </div> 
                                         <div class="col-4">
                                          <h5>Tanggal</h5>
                                        </div>
                                      </div>

                                      <div class="form-row">

                                         <div class="col-4">
                                          <input type="text" class="form-control" id="namaBab" placeholder="Masukan Judul" required>
                                        </div>
                                           <div class="col-4">
                                          <input type="text" class="form-control" id="kelompok" placeholder="Masukan Kelompok" required>
                                        </div>
                                        <div class=col-4>
                                            <input type="date" class="form-control" id="date"/>

                                        </div>
                                      </div>
                                      <br>

                                         @*batas atas accordion*@
                                       <div class="accordion" id="accordionPanelsStayOpenExample">
                                            @{
                                                var nobab = 1; 
                                                
                                             }
                                           
                                          @foreach (var item in Model.Babs)
                                          {
                                              <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-@nobab"  aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                      
                                                      Bab @nobab @item.namaBab

                                                  </button>
                                                  <input id="babId-@nobab" name="babId"  value="@item.BabId" hidden>
                                                </h2>
                                                 
                                                    <div id="panelsStayOpen-collapseOne-@nobab" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                                      <div class="accordion-body">
                                                  @{var nosub = 1;}
                                                    @foreach (var item2 in item.SubBabs)
                                                     { 
                                                        <input id="subBabId-@nobab-@nosub" name="subbabId"  value="@item2.SubBabId " hidden>

                                                         <h4> @nosub.@item2.namaSubBab </h4>
                                                         <div class="col-5 mb-3">
                                                          @{var nosubsub = 1; }
                                                           @foreach (var item3 in item2.SubSubBabs)
                                                           { 
                                                            <input id="subSubBabId-@nobab-@nosub-@nosubsub" name="subsubbab"  value="@item3.SubSubBabId" hidden>

                                                               <span for="formFileMultiple"  ><strong>  @nosubsub.@item3.namaSubSubBab </strong></span>
                                                               <input class="form-control" type="file" accept="application/pdf" name="subsubbabId"  id="subSubBabId-@nobab-@nosub-@nosubsub"> 
                                                               nosubsub++;
                                                           } 
                                                      
                                                           </div>
                                                       nosub++;
                                                     }
                                                      </div>
                                                  </div>
                                                </div>
                                                {
                                                    nobab++;

                                                }

                                            }
                                           
                                        </div>
                                          @*batas bawah accordion*@
                                         @*<a class="btn btn-primary" onclick="AddData()">Save</a>*@
                                          <div class="float-left"> 
                                             <br />
                                            <a  href="@Url.Action("TambahEbook", "EBook")" class="btn btn-sm btn-warning text-white ">Kembali</a>

                                         </div>
                                         <div class="float-right"> 
                                             <br />
                                         <a class="btn btn-sm btn-primary text-white" onclick="AddData();">Simpan</a>

                                         </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- [ Main Content ] end -->

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="md-overlay"></div>

@section Styles{
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/data-tables/css/datatables.min.css">
    <link href="~/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- modal-window-effects css -->
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/modal-window-effects/css/md-modal.css">
 
}

@section Scripts{  

    <script src="~/vendor/jazztemplate/plugins/data-tables/js/datatables.min.js"></script>    
    <script src="~/vendor/moment-js/moment-with-locales-IDN.min.js"></script>
    <script src="~/vendor/bootstrap.bundle.min.js"></script>
    <!-- modal-window-effects Js -->
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/classie.js"></script>
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/modalEffects.js"></script>
    <script> 
       
       function AddData() 
       {

           var i=0; 
           var datas = new Array();
           var datasNew = new Array();
           var namaBab= null;
           var kelompok= null;
           var Date= null;


           if($('#namaBab').val() == ""|| $('#kelompok').val() == "" || $('#date').val()=="")
           {
            swal("Data Tidak Lengkap", "Harap isi Judul/Kelompok/Tanggal!");
           }
           else
           {
                         namaBab= $('#namaBab').val();
                         Date= $('#date').val();
                         
                         kelompok= $('#kelompok').val();  

                        var url = window.location.href;
                        var parts = url.split("/");
                        var beforeLast = parts[parts.length - 1]; //keep in mind that since array starts with 0, last part is [length - 1]
                        var rumusanId=beforeLast;
  
                       var fileData = new FormData();   
                           console.log( $('input[name^="subsubbabId"]'));

                        $('input[name^="subsubbabId"]').each(function(){
                           var indexx = ++i;   
                             debugger;

                           console.log($(this)[0].files[0]);
                           //var getPdfkosong = document.getElementById("PDFKosong").files[0];
                           //console.log(getPdfkosong)
                             debugger;

                        
                             var req = "";
                           if($(this)[0].files[0] != null){
                           fileData.append('selectedUpload',$(this)[0].files[0]);  
                           }
                           else
                           {
                           const blob = new Blob([req], {type : 'application/pdf'})
                           fileData.append('selectedUpload', blob, 'PDFkosong.pdf')
                           //fileData.append('selectedUpload',$("#PDFKosong")[0].files[0] );
                
                           }

                         }) 
                           //fileData.append('selectedUpload', selectUploads);
                           fileData.append('Nama', namaBab);
                           fileData.append('TanggalSampul', Date);
                           fileData.append('Kelompok', kelompok);
                           fileData.append('RumusanId', rumusanId); 

                             
                                 $.ajax({ 
                                       url: "@Url.Action("Upload", "Ebook")", 
                                       type: 'POST', 
                                        data:fileData, 
                                        cache: false,
                                        processData: false,
                                        contentType: false,
                                    success: function (result) {
                                        swal({
                                            html: true,
                                            title: 'Sukses',
                                            text: 'Data Anda Berhasil Disimpan',
                                            type: "success",
                                            showCancelButton: false,
                                            showConfirmButton: true,
                                        }).then(() => {
                                         window.location.href ='@Url.Action("Index", "EBook")';
                                        }) 
                                    },
                                    error: function (response) {
                                        swal("Oops", "We couldn't connect to the server!", "error");
                                    }
                                });
                       }
      
           
           
       } 



         //var Data = new Array(); 
         //var Bab = new Array(); 
         //var SubBab = new Array(); 
         //var SubBabNew = new Array(); 
         //var SubSubBab = new Array(); 
         //var SubSubBabNew = new Array(); 
         //var SubSubBabNew2= new Array(); 
    
       //function AddData() {
       //debugger;
        //   for(var i = 1; i <=  $("input[name^=babId").length;i++)
        //   {
        //      //$('input[id^="babId-'+i+'"]').each(function(){
        //        var babId =  $('input[id^="babId-'+i+'"]').val();

        //             //Bab.push({BabId :babId}); 
        //             Bab.push({BabId :babId}); 
                

        //              for(var j = 1; j <=  $('input[id^="subBabId-'+i+'"]').length;j++)
        //              {
        //                var subbabId =  $('input[id^="subBabId-'+i+'-'+j+'"]').val();  
        //                SubBabNew.push({SubBabId :subbabId});  
                       

        //                //console.log(Data(Bab.push(SubBabNew)));
                         
        //                  //SubSubBab.push(SubSubBabNew2);
        //                  //SubSubBabNew2=[];

        //                  for(var k = 1; k <=  $('input[id^="subSubBabId-'+i+'-'+j+'"]').length;k++)
        //                  {
        //                    var subsubbabId =  $('input[id^="subSubBabId-'+i+'-'+j+'-'+k+'"]').val();  
        //                    SubSubBabNew.push({SubSubBabId :subsubbabId});  
        //                  }

        //                  SubSubBabNew2.push(SubSubBabNew);
        //                  SubSubBabNew=[];

                           
        //              }
        //             SubSubBab.push(SubSubBabNew2);
        //             SubSubBabNew2=[];

        //              SubBab.push(SubBabNew);
        //              SubBabNew=[];
                      

        //             // $("input[name^=subbabId]").each(function(){
        //             //   var subbabId = $(this).val(); 
        //             //    Bab.push.apply(Bab,[{SubBabId :subbabId}]);

        //             //         //$("input[name^=subsubbabId]").each(function(){
        //             //         //var subsubbabId = $(this).val(); 
        //             //         //SubSubBab.push({SubSubBabId :subsubbabId }); 

        //             //         //}); 
        //             //}); 
        //             //console.log(Bab);
        //             ////console.log(SubBab);
        //             ////console.log(SubSubBab);
        //             //console.log("---------");
        //            //data.push([Bab,{SubBab},{SubSubBab}])

        //      //}); 

             
              
        //   }
        //     console.log(Bab);   
        //     console.log(SubBab);  
        //     console.log(SubSubBab);  
        //     console.log("---------");

          
        // //var data = new object(); 
        // ////var data = new Array(); 
        // //var Bab = new Array(); 
        // //var SubBab = new Array(); 
        // //var SubSubBab = new Array(); 
        // ////var NasabahId = $("#nasabahId").val();
        // ////var Template = $("#template").val(); 

        // //$("input[name^=babId").each(function(){
        // //   var babId = $(this).val();

        // //        Bab.push({BabId :babId }); 

        // //         $("input[name^=subbabId]").each(function(){
        // //           var subbabId = $(this).val(); 
        // //            Bab.push.apply(Bab,[{SubBabId :subbabId}]);

        // //                 //$("input[name^=subsubbabId]").each(function(){
        // //                 //var subsubbabId = $(this).val(); 
        // //                 //SubSubBab.push({SubSubBabId :subsubbabId }); 

        // //                 //}); 
        // //        }); 
        // //        console.log(Bab);
        // //        //console.log(SubBab);
        // //        //console.log(SubSubBab);
        // //        console.log("---------");
        // //       //data.push([Bab,{SubBab},{SubSubBab}])

        //  //}); 
        //  //console.log(Bab);

        //    //if($('#nasabahId').val()=='' || $('#babId').val()==''|| $('#template').val()==''){
        //    //    swal({
        //    //        text: "Nama Template harus diisi!",
        //    //        icon: "warning"                    
        //    //    });
        //    //}
        //    //else
        //    //{  
        //    //    $.ajax({ 
        //    //        url: "@Url.Action("SaveBab","Rumusan")",
        //    //        type: 'POST',
        //    //        data: { data: data, nasabahId: NasabahId, template : Template},
        //    //        contenttype: "application/json; charset=utf-8",
        //    //        datatype: 'json',
        //    //    }).then(
        //    //        (result) => {
                    
        //    //            if (result != null) {
        //    //                swal({
        //    //                    text: "Berhasil di simpan",
        //    //                    icon: "success",
        //    //                    buttons: false,
        //    //                    timer: 1500
        //    //                }).then(() => {
        //    //                    $("#Addbab").modal('hide');
        //    //                    ClearScreen();
        //    //                    $('#Table').DataTable().ajax.reload();
        //    //                })
        //    //            }
        //    //            else {
        //    //                swal({
        //    //                    text: "Gagal menyimpan", 
        //    //                    icon: "error",                            
        //    //                }).then(() => {
        //    //                    $("#Addbab").modal('hide');
        //    //                    ClearScreen();
        //    //                    $('#Table').DataTable().ajax.reload();
        //    //                })
        //    //            }
        //    //            RequestDone();
        //    //        },
        //    //        (XMLHttpRequest, textStatus, errorThrown) => {
        //    //            alert("Error : " + textStatus);
        //    //            RequestDone();
        //    //        }
        //    //    );
        //    //}
        //}
           
    </script>
}