@model CST.ViewModels.EBook.InputDataVM;
 
@{
    ViewData["Title"] = "Tambah E-Book";
} 
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="infoModalLabel">Panduan</h4>
            </div>
            <div class="modal-body">
                <b>Panduan</b>
                <ul>
                    <li>Halaman ini digunakan untuk melakukan pembentukan Ebook dengan melakukan peng-upload tan File PDF</li>
                </ul>
                <b>Hal yang harus diperhatikan dalam upload file</b>
                <ol>
                    <li>Nama File yang di Upload harus sesuai dengan rumusan template <b> contoh nama file :</b></li>
                    <li><b> Format : {SubSubBab} - {BAB}</b></li>
                    <li><b> contoh nama file : Laporan Pendapatan Bunga Deposito - JHT </b></li>
                    <li><b> JHT = Nama Bab dari rumusan (harus sesuai rumusan)</b></li>
                    <li><b> Laporan Pendapatan Bunga Deposito = Nama SubSubBab dari Rumusan (harus sesuai rumusan)</b></li>
                    <li>File yang di Upload <b>bisa lebih dari 1</b></li>  
                    <li>File yang diupload harus berekstensi <b>.Pdf</b></li>
                </ol>
                <b>Inputan</b>
                <ul>
                    <li>Inputan Judul,Kelompok,Tanggal nantinya akan di tampilkan pada halaman Sampul </li> 
                    <li>File di Uploadan yang muncul sesuai dengan rumusan daftar isi yang telah dibuats </li> 
                </ul>
                <b>Catatan</b>
                <ul>
                    <li><b>Jika ada 1 File yang di-upload dalam 1 SubSub-Bab</b> bisa menggabungkan terlebih dahulu File yang sama pada button <b>Gabung PDF</b></li>
                    <li><b>File yang di upload harus sesuai dengan rumusan yang telah di buat</b></li>
                    <li><b>Jikalau rumusan di singkat file yang di upload juga harus di singkat</b></li>
                    <li><b>Pastikan data yang di upload sudah sesuai sebelum di simpan</b></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <form autocomplete="off" method="post" enctype="multipart/form-data">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Tambah Data E-Book</h5>
                                        <a class="btn btn-sm btn-info shadow-2 text-white" data-toggle="modal" data-target="#infoModal"><span>Panduan <i class="far fa-question-circle"></i></span></a>
                                       
                                        @*<button class="btn btn-sm btn-info shadow-2 text-white" data-toggle="modal" data-target="#infoModal"><span>Panduan <i class="far fa-question-circle"></i></span></button>*@
                                        <button class="btn btn-sm btn-success fa-pull-right" onclick="location.href='@Url.Action("GabungFile", "EBook")'" title="Gabung PDF"> Gabung PDF</button>   
                                    </div>
                                     
                                    <div class="card-block">

                                      <div class="form-row">
                                       <div class="col-4">
                                          <h5>Judul</h5>
                                        </div> 
                                         <div class="col-4">
                                          <h5>Kelompok</h5>
                                        </div> 
                                         <div class="col-4">
                                          <h5>Tanggal</h5>
                                        </div>
                                      </div>

                                      <div class="form-row">

                                         <div class="col-4">
                                          <input type="text" class="form-control" id="namaBab" placeholder="Masukan Judul" required>
                                        </div>
                                           <div class="col-4">
                                          <input type="text" class="form-control"  accept="application/pdf" id="kelompok" placeholder="Masukan Kelompok" required>
                                          <div class="float-right">
                                          <h5 class="form-label mt-3">Upload Multiple File</h5>

                                          </div>
                                        </div>
                                        <div class=col-4>
                                            <input type="date" class="form-control" id="date"/>
                                                     
                                    <input class="form-control mt-2" type="file" name="file" id="file"  onchange="javascript:updateList()"  multiple>
                                        </div>
                                      </div>
                                      <br>

                                         @*batas atas accordion*@
                                       <div class="accordion" id="accordionPanelsStayOpenExample"> 
                                                          @{var indxx = 0; }
                                                          @{var indxxx = 0; }
                                           
                                           @{
                                                var nobab = 1; 
                                                
                                             }
                                           
                                          @foreach (var item in Model.Babs)
                                          {
                                              <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">

                                                  <button class="accordion-button collapsed"  type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-@nobab"  aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                      
                                                      Bab @nobab @item.namaBab

                                                  </button>
                                                  <input id="babId-@nobab" name="babId"  value="@item.BabId" hidden>
                                                </h2>
                                                 
                                                    <div id="panelsStayOpen-collapseOne-@nobab" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                                      <div class="accordion-body">
                                                     
                                                          @{ indxxx++;}
                                                            

                                                  @{var nosub = 1;}
                                                    @foreach (var item2 in item.SubBabs)
                                                     { 
                                                        <input id="subBabId-@nobab-@nosub" name="subbabId"  value="@item2.SubBabId" hidden>

                                                         <h4> @nosub.@item2.namaSubBab </h4>
                                                         <div class="col-5 mb-3">
                                                          @{var nosubsub = 1; }

                                                           @foreach (var item3 in item2.SubSubBabs)
                                                           { 
                                                            <input id="subSubBabId-@nobab-@nosub-@nosubsub" name="subsubbaB" value="@item.namaBab-@item3.namaSubSubBab-@indxx" hidden>
                                                            @*<input id="subSubBabId-@nobab-@nosub-@nosubsub" name="subsubbab"  value="@item3.SubSubBabId" hidden>*@

                                                               <span for="formFileMultiple"  ><strong>  @nosubsub.@item3.namaSubSubBab </strong></span>
                                                               @*<input class="form-control" type="file" accept="application/pdf" name="subsubbabId"  id="subSubBabId-@nobab-@nosub-@nosubsub"> *@
                                                                <div id="fileList-subSubBabId-@nobab-@nosub-@nosubsub" name="nameFiless"></div>

                                                               indxx++;
                                                               nosubsub++;
                                                           } 
                                                      
                                                           </div>
                                                       nosub++;
                                                     }
                                                      </div>
                                                  </div>
                                                </div>
                                                {
                                                    nobab++;

                                                }

                                            }
                                           
                                        </div>
                                          @*batas bawah accordion*@
                                         @*<a class="btn btn-primary" onclick="AddData()">Save</a>*@
                                          <div class="float-left"> 
                                             <br />
                                            <a  href="@Url.Action("TambahEbook", "EBook")" class="btn btn-sm btn-warning text-white ">Kembali</a>

                                         </div>
                                         <div class="float-right"> 
                                             <br />
                                         <a class="btn btn-sm btn-primary text-white" onclick="AddData();">Simpan</a>

                                         </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- [ Main Content ] end -->

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="md-overlay"></div>

<div id="overlay" style="position:fixed; left:0; bottom:0; right:0; top:0; background:rgba(0, 0, 0, 0.5);display:none; z-index:100">
    <div style="display:grid; place-items: center; width:100vw; height:100vh; overflow:hidden; ">
         <div class="spinner-border text-light" role="status">
            <span class="sr-only">Loading...</span>
    </div> 
    </div>
   
</div>


@section Styles{
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/data-tables/css/datatables.min.css">
    <link href="~/vendor/bootstrap.min.css" rel="stylesheet">
    <!-- modal-window-effects css -->
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/modal-window-effects/css/md-modal.css">
 
}

@section Scripts{  

    <script src="~/vendor/jazztemplate/plugins/data-tables/js/datatables.min.js"></script>    
    <script src="~/vendor/moment-js/moment-with-locales-IDN.min.js"></script>
    <script src="~/vendor/bootstrap.bundle.min.js"></script>
    <!-- modal-window-effects Js -->
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/classie.js"></script>
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/modalEffects.js"></script>
    <script> 
   

   var fileDatas = new FormData();  
   //var tempFileVM = [];

    function clearScreen(){
       var entries = fileDatas.entries();
        for(var pair of entries ) 
        {
           fileDatas.delete(pair[0]);
          
        }
         $('ul[name^="ul"]').each(function(){
               
               $(this).remove();
         })

         
    }
   
   function updateList() {
   //console.log(Object.fromEntries(fileDatas.entries()));
   var a = fileDatas.get('indx');
   //var b = Object.fromEntries(fileDatas.entries());
   if(a != null)
   {
          clearScreen();

   } 
   
  

       //debugger;
    //updateList = function() {
    var input = document.getElementById('file');                
    //var inputOld = document.getElementById('subSubBabId-1-1-1');
        for (var i = 0; i < input.files.length; ++i) {
            var names = input.files.item(i).name;
            let namesSplitPdf = names.replace(/.pdf/g, '');
            var nameArr = namesSplitPdf.split('-');
            //var nameArr = names.split('_'); // old
             
            //console.log(input.files[0]);
            debugger;
            $('input[name^="subsubbaB"]').each(function(){
            var subsubId = "fileList-"+$(this)[0].id;
            var namesss = $(this)[0].value;
            var nameArrr = namesss.split('-');
            let text = nameArrr[0].replace(/ /g,'').toLowerCase();  
            var a = nameArr[1].replace(/ /g,'').toLowerCase();

                var cekProgram = text.match("program");
                let result;
                if (cekProgram == "program") {
                     var text3 = nameArrr[0].replace(/program/ig,'').toLowerCase();  
                     text = text3.replace(/ /g,'').toLowerCase();  
                    result = text;

                } else
                {
                     result = text.match(a);
                }
                debugger;
            //console.log(result);
            var output = document.getElementById(subsubId);
            var children = "";
                
                var potongLap = nameArr[0].replace(/Laporan/g,'').toLowerCase();
                var potongLap2 = potongLap.replace(/laporan/g,'');
                var namaTemp = potongLap2.replace(/ /g,'');

                var potongLapa = nameArrr[1].replace(/Laporan/g,'').toLowerCase();
                var potongLapa2 = potongLapa.replace(/laporan/g,'');
                var namaTemp2 = potongLapa2.replace(/ /g,'').toLowerCase();

                var namaFile = nameArr[1].replace(/ /g,'').toLowerCase();
                //var namaFile = nameArr[1].replace(/ /g,'').toLowerCase(); //yg bener pake bpjsd
                //console.log(namaFile);
                console.log(result);
                //var namaFile2 = result.replace(/ /g,'');
                //console.log(namaFile2);

                //var aa = namaTemp +" == "+ namaTemp2+ "," +namaFile + "==" +result  ;
                //console.log(aa);
                if((namaTemp  ==  namaTemp2) && (namaFile == result ))
                {
            debugger;

                 //var fileDatasObj = {};   

                 //fileDatas.append('Index',nameArrr[2]+"_"+input.files.item(i).name);  
                 fileDatas.append('indx',nameArrr[2]+"-"+input.files.item(i).name);  
                 fileDatas.append('selectedUploads',input.files.item(i));  

                 //fileDatasObj["Index"] = nameArrr[2]+"_"+input.files.item(i).name;
                 //fileDatasObj["selectUploads"] = input.files[0];
                 //fileDatasObj('selectUploads',input.files[0]);
                 //tempFileVM.push(fileDatasObj);
                 
                 children = '<li>' + input.files.item(i).name + '</li>';

                 output.innerHTML = '<ul name="ul">'+children+'</ul>';
                }
                //else
                //{
                //         fileDatas.append('indx',nameArrr[2]+"_"+input.files.item(i).name);
                 
                //  const blob = new Blob([req], {type : 'application/pdf'})
                //               fileDatas.append('selectedUploads', blob, 'PDFkosong.pdf')
                //}
                 //indx++;
            })  
        }

        
    }

    
     
   
       function AddData() 
       {
            $('#overlay').show();
            setTimeout(function(){
            $('#overlay').hide();

            },
                5000
            
            )
       //var arr3 = [];

       // for(const pair of fileDatas.entries()) {
       //     var fileDatas2 = new FormData();   

       //   console.log(`${pair[0]}, ${pair[1]}`);

       //   fileDatas2.append('Index',`${pair[1]}`)
       //   fileDatas2.append('selectUploads',`${pair[1]}`)
           
       //   arr3.push(fileDatas2);
       //   }
       //console.log(arr3);
       // console.log(Object.fromEntries(fileDatas2.entries()));


           var i=0; 
           var datas = new Array();
           var datasNew = new Array();
           var namaBab= null;
           var kelompok= null;
           var Date= null;



           if($('#namaBab').val() == ""|| $('#kelompok').val() == "" || $('#date').val()=="")
           {
            swal("Data Tidak Lengkap", "Harap isi Judul/Kelompok/Tanggal!");
           }
           else
           {
               var totalSubSub=$('input[name^="subsubbaB"]').length;
                 var req = ""; 
               debugger;
               //console.log(totalSubSub);
               var tempInd= "";
                for(const pair of fileDatas.entries()) 
                       {    
                            var nameindx =`${pair[1]}`;   
                            var finalindxx = nameindx.split('-');
                            tempInd += finalindxx[0]; 
                       }
 
                  var finalindxcx = tempInd.split('[object File]');
                           console.log(finalindxcx);
                for (var i = 0; i<totalSubSub; i++)
			    {
                           var result = finalindxcx;  
                           if(result.find(x => x == i))
                           {
                               
                               continue;
                           }else
                           {

                                fileDatas.append('indx',i+"-"+"PDFkosong.pdf"); 
                                const blob = new Blob([req], {type : 'application/pdf'})
                                var namel= i+"-"+"PDFkosong.pdf";
                                fileDatas.append('selecteduploads', blob, namel)
                                continue;
                           }
                         

                     
            
                    

			    }

                         namaBab= $('#namaBab').val();
                         Date= $('#date').val();
                         
                         kelompok= $('#kelompok').val();  

                        var url = window.location.href;
                        var parts = url.split("/");
                        var beforeLast = parts[parts.length - 1]; //keep in mind that since array starts with 0, last part is [length - 1]
                        var rumusanId=beforeLast;

                        fileDatas.append("Nama",namaBab);
                        fileDatas.append("Kelompok",kelompok);
                        fileDatas.append("TanggalSampul",Date);
                        fileDatas.append("RumusanId",rumusanId);
  
                       //var fileData = new FormData();   
                       //var fileData = new FormData();   
                       //    //console.log( $('input[name^="subsubbabId"]'));

                       // $('input[name^="subsubbabId"]').each(function(){
                            
                       //      debugger; 
                       //    var req = "";
                       //    if($(this)[0].files[0] != null){
                       //    fileData.append('selectedUpload',$(this)[0].files[0]);  
                       //    }
                       //    else
                       //    {
                       //    const blob = new Blob([req], {type : 'application/pdf'})
                       //    fileData.append('selectedUpload', blob, 'PDFkosong.pdf')
                       //    //fileData.append('selectedUpload',$("#PDFKosong")[0].files[0] );
                
                       //    }

                       //  }) 
                           //fileData.append('Nama', namaBab);
                           //fileData.append('TanggalSampul', Date);
                           //fileData.append('Kelompok', kelompok);
                           //fileData.append('RumusanId', rumusanId); 
                           //var datas = {
                           //    Nama : namabab,
                           //    TanggalSampul : Date,
                           //    Kelompok :kelompok,
                           //    RumusanId : rumusanId
                           //}
                           //fileDatas.append("temp2",datas);


                        //var fileDataFinal = new FormData();  
                        //   fileDataFinal.append('tempFileVM', fileDatas);
                        //   fileDataFinal.append('temp2', datas);

                           //return;
                        //console.log(tempFileVM);
                        //var tempFileVM2 = [{"index":0}];
                       // var tempFileVM2 = 1;

                       //var fileDataFinals = new FormData();
                       
                       //fileDataFinals.append("data",JSON.stringify(tempFileVM));
                       // //console.log(tempFileVM2);
                       //var filesss = new FormData();
                       //filesss.append("tempFileVM",JSON.stringify(tempFileVM))

                        //$('input[name^="nameFiless"]').each(function(){
                        //  if()
                        //  {

                        //  }
                        //)}
                       

                 //console.log(Object.fromEntries(fileDatas.entries()));
                           
                                 $.ajax({ 
                                       "url": "@Url.Action("Upload", "Ebook")", 
                                       "type": 'POST', 
                                        "data": fileDatas,  
                                          "processData": false,
                                        "contentType": false,
                                    success: function (data) {
                                       swal({
                                            html: true,
                                            title: 'Sukses',
                                            text: 'Data Anda Berhasil Disimpan',
                                            type: "success",
                                            showCancelButton: false,
                                            showConfirmButton: true,
                                        }).then(() => {
                                         window.location.href ='@Url.Action("Index", "EBook")';
                                        }) 
                                    },
                                    error: function (response) {
                                          $('.spinnerButtonProccess').hide();
                                        swal("Oops", "We couldn't connect to the server!", "error");

                                    }
                                });
                       } 

       }  

      
           
    </script>
}