@model CST.ViewModels.EBook.InputDataVM;
 
@{
    ViewData["Title"] = "Edit E-Book";
} 

<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="infoModalLabel">Panduan</h4>
            </div>
            <div class="modal-body">
                <b>Panduan</b>
                <ul>
                    <li>Halaman ini digunakan untuk melakukan mengubah/menghapus file PDF pada Ebook</li>
                </ul>
                <b>Hal yang harus diperhatikan dalam upload file</b>
                <ol>
                    <li><b>Maksimal 1 file</b> dalam sekali upload pada setiap SubSubBab</li>  
                    <li>File yang diupload harus berekstensi <b>.Pdf</b></li>
                </ol>
                <b>Inputan</b>
                <ul>
                    <li>Inputan Judul,Kelompok,Tanggal nantinya akan di tampilkan pada halaman Sampul </li> 
                    <li>File di Uploadan yang muncul sesuai dengan rumusan daftar isi yang telah dibuats </li> 
                </ul>
                <b>Catatan</b>
                <ul>
                    <li><b>Lebih dari 1 File Upload</b> Untuk menggabungkan terlebih dahulu File yang sama pada button <b>Gabung PDF</b></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<section class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <form autocomplete="off" method="post" enctype="multipart/form-data">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12"> 
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Edit Data E-Book</h5>
                                          <a class="btn btn-sm btn-info shadow-2 text-white" data-toggle="modal" data-target="#infoModal"><span>Panduan <i class="far fa-question-circle"></i></span></a>
                                       
                                    </div>
                                    
                                      
                                    <div class="card-block">
                                       
                                      <div class="form-row">
                                       <div class="col-3">
                                          <h5>Judul</h5>
                                        </div> 
                                         <div class="col-3">
                                          <h5>Kelompok</h5>
                                        </div> 
                                         <div class="col-3">
                                          <h5>Tanggal</h5>
                                        </div>
                                      </div>

                                      <div class="form-row">

                                         <div class="col-3">
                                          <input type="text" class="form-control" id="namaBab" placeholder="@Model.Kelompok" value="@Model.Kelompok" required>

                                        </div>
                                           <div class="col-3">
                                          <input type="text" class="form-control" id="kelompok" placeholder="@Model.NamaEbook" value="@Model.NamaEbook"  required>

                                        </div>
                                        <div class=col-3>
                                          <input type="date" class="form-control" id="date" value="@Model.TanggalSampul?.ToString("yyyy-MM-dd", new System.Globalization.CultureInfo("id-ID"))" required>
                                           
                                        </div>
                                         <div class="float-right"> 
                                             
                                            <a  onclick="UpdateJudul()" class="btn btn-sm btn-primary text-white">Update Judul/Kelompok</a>

                                         </div>
                                      </div>
                                      
                                      
                                      <br>

                                         @*batas atas accordion*@
                                       <div class="accordion" id="accordionPanelsStayOpenExample">
                                            @{
                                                var nobab = 1;
                                                
                                             }
                                          @{var noIndex =0 ; }
                                           
                                          @foreach (var item in Model.Babs)
                                          {
                                              <div class="accordion-item">
                                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne-@nobab"  aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                                      
                                                      Bab @nobab @item.namaBab

                                                  </button>
                                                  <input id="babId-@nobab" name="babId"  value="@item.BabId" hidden>
                                                </h2>
                                                 
                                                    <div id="panelsStayOpen-collapseOne-@nobab" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                                                      <div class="accordion-body">
                                                    
                                

                                                    @{var nosub = 1;}
                                                    @foreach (var item2 in item.SubBabs)
                                                     { 
                                                        <input id="subBabId-@nobab-@nosub" name="subbabId"  value="@item2.SubBabId " hidden>

                                                         <h4> @nosub.@item2.namaSubBab </h4>
                                                         <div class="col-5 mb-3">
                                                          @{var nosubsub = 1; }
                                                           @foreach (var item3 in item2.SubSubBabs)
                                                           {  
                                                                <div class="form-group row">
                                                                  <div class="col-xs-2">
                                                                    <span><strong>  @nosubsub.@item3.namaSubSubBab </strong></span>
                                                                           
                                                                      
                                                                        @foreach (var item5 in Model.T_TransDetail)
                                                                       { 
                                                                          if(noIndex == item5.Index)
                                                                          {
                                                                                         <input class="form-control" type="file" style="width:350px" accept="application/pdf" name="subsubbabId" id="subSubBabId-@nobab-@nosub-@nosubsub"> 
                                                                                         <span>Nama File :</span> <label class="font-italic">@item5.Path</label>
                                                                                         <div>
                                                                                              <a onclick="EditData(@noIndex,@nobab,@nosub,@nosubsub)" class="btn btn-primary m-2 text-white">Ubah File</a>

                                                                                              <a class="btn btn-warning m-2 text-white" href="@Url.Action("Preview", "EBook")/@item5.Id" target="_blank">Lihat File</a>
                                                                                              <a onclick="RemoveData(@noIndex,@nobab,@nosub,@nosubsub)" class="btn btn-danger m-2 text-white">Delete File</a>
                                                                         
                                                                                         </div>
                                                                                            }
                                                                                        continue;

                                                                      }
                                                                      
                                                                       <br />
                                                                  </div>
                                                                 
                                                                </div>
                                                         
                                                               noIndex++;
                                                               nosubsub++;
                                                           } 
                                                           </div>
                                                       nosub++;
                                                     }
                                                      </div>
                                                  </div>
                                                </div>
                                                {
                                                    nobab++;

                                                }

                                            }
                                           
                                        </div>
                                          @*batas bawah accordion*@
                                         @*<a class="btn btn-primary" onclick="AddData()">Save</a>*@
                                         <div class="float-left"> 
                                             <br />
                                            <a  href="@Url.Action("Index", "EBook")" class="btn btn-sm btn-warning">Kembali</a>

                                         </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- [ Main Content ] end -->

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="md-overlay"></div>

@section Styles{
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/data-tables/css/datatables.min.css">
    <link href="~/vendor/bootstrap.min.css" rel="stylesheet"> 
    
    <!-- modal-window-effects css -->
    <link rel="stylesheet" href="~/vendor/jazztemplate/plugins/modal-window-effects/css/md-modal.css">
}

@section Scripts{
    <script src="~/vendor/jazztemplate/plugins/data-tables/js/datatables.min.js"></script>    
    <script src="~/vendor/moment-js/moment-with-locales-IDN.min.js"></script>
    <script src="~/vendor/bootstrap.bundle.min.js"></script>
    <!-- modal-window-effects Js -->
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/classie.js"></script>
    <script src="~/vendor/jazztemplate/plugins/modal-window-effects/js/modalEffects.js"></script>
    <script> 
        
           function EditData(id,nobab,nosub,nosubsub) 
           {   
               swal("Apakah anda yakin mau update file ini?", {
                  buttons: {
                    cancel: "Tidak",
                    catch: {
                      text: "Ya",
                      value: "success",
                    }, 
                  },
                })
                .then((value) => {
                  switch (value) {  
                    case "success":

                var IdFile= "#subSubBabId-"+nobab+"-"+nosub+"-"+nosubsub;
            
               if($('#namaBab').val() == ""|| $('#kelompok').val() == "" || $('#date').val()=="")
               {
                swal("Data Tidak Lengkap", "Harap isi Judul/Kelompok/Tanggal!");
               }
               else
               {    
                   var indx = id;
                   var url = window.location.href;
                   var parts = url.split("/");
                   var beforeLast = parts[parts.length - 1]; //keep in mind that since array starts with 0, last part is [length - 1]
                   var rumusanId=beforeLast;

                   var fileData = new FormData();   
                   fileData.append('selectedUpload',$(IdFile)[0].files[0]);  
                   fileData.append('Index', indx); 
                   fileData.append('RumusanId', rumusanId); 
                    
                                 $.ajax({ 
                                       url: "@Url.Action("UpdateFileEbook", "Ebook")", 
                                       type: 'POST', 
                                        data:fileData, 
                                        cache: false,
                                        processData: false,
                                        contentType: false,
                                    success: function (result) {
                                        swal({
                                            html: true,
                                            title: 'Sukses',
                                            text: 'Data Anda Berhasil Disimpan',
                                            type: "success", 
                                        }).then(() => {
                                         window.location.reload();
                                        }) 
                                    },
                                    error: function (response) {
                                        swal("Oops", "We couldn't connect to the server!", "error");
                                    }
                                });
                          } 

                      break;
 
                   
                  }
                })

           

           }

           function RemoveData(id,nobab,nosub,nosubsub)
           { 
               swal("Apakah anda yakin mau hapus file ini?", {
                  buttons: {
                    cancel: "Tidak",
                    catch: {
                      text: "Ya",
                      value: "success",
                    }, 
                  },
                })
                .then((value) => {
                  switch (value) {  
                    case "success":

                var IdFile= "#subSubBabId-"+nobab+"-"+nosub+"-"+nosubsub; 
                   var indx = id;
                   var url = window.location.href;
                   var parts = url.split("/");
                   var beforeLast = parts[parts.length - 1]; //keep in mind that since array starts with 0, last part is [length - 1]
                   var rumusanId=beforeLast;
                   var req ="";
                   var fileData = new FormData();    
                   fileData.append('Index', indx); 
                   fileData.append('RumusanId', rumusanId); 
                    
                                 $.ajax({ 
                                       url: "@Url.Action("RemoveFileEbook", "Ebook")", 
                                       type: 'POST', 
                                        data:fileData, 
                                        cache: false,
                                        processData: false,
                                        contentType: false,
                                    success: function (result) {
                                        swal({
                                            html: true,
                                            title: 'Sukses',
                                            text: 'Data Anda Berhasil Di Hapus',
                                            type: "success", 
                                        }).then(() => {
                                         window.location.reload();
                                        }) 
                                    },
                                    error: function (response) {
                                        swal("Oops", "We couldn't connect to the server!", "error");
                                    }
                                });
                           

                      break;
 
                   
                  }
                })
           }

           function UpdateJudul()
           { 
                 swal("Apakah anda yakin mau mengganti judul ini?", {
                  buttons: {
                    cancel: "Tidak",
                    catch: {
                      text: "Ya",
                      value: "success",
                    }, 
                  },
                })
                .then((value) => {
                  switch (value) {  
                    case "success":

               var namaEbook = $('#namaBab').val();
               var kelompok = $('#kelompok').val();
                
              if($('#namaBab').val() == ""|| $('#kelompok').val() == "" || $('#date').val()=="")
               {
                swal("Data Tidak Lengkap", "Harap isi Judul/Kelompok/Tanggal!");
               }
               else
               {   
                   var Date= $('#date').val();
                   //console.log(Date)
                  
                   var url = window.location.href;
                   var parts = url.split("/");
                   var beforeLast = parts[parts.length - 1]; //keep in mind that since array starts with 0, last part is [length - 1]
                   var rumusanId=beforeLast; 

                                 $.ajax({ 
                                       url: "@Url.Action("UpdateJudul", "Ebook")", 
                                       type: 'POST', 
                                        data:{Id:rumusanId,NamaEbook: namaEbook,Kelompok:kelompok,TanggalSampul:Date}, 
                                        cache: false, 
                                         dataType: 'json',
                                    success: function (result) {
                                        swal({
                                            html: true,
                                            title: 'Sukses',
                                            text: 'Data Anda Berhasil Di Update',
                                            type: "success", 
                                        }).then(() => {
                                         window.location.reload();
                                        }) 
                                    },
                                    error: function (response) {
                                        swal("Oops", "We couldn't connect to the server!", "error");
                                    }
                                });
               }                 

                    //  swal("Gotcha!", "Pikachu was caught!", "success");
                      break;
 
                   
                  }
                })

           

               
           }
     
           
    </script>
}